In [4]:
import analyze_telom_length as atl
import seaborn as sns

In [5]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

In [6]:
poly_df, pat_df = atl.run_single_or_iterative("../../misc")

'../../misc' is a directory. Running in iterative mode.
../../misc/representatives.fasta

 =================================
 representatives
 =================================

AAB_utg31
---------------------
left telom length =  282
left offset =  0
right telom length =  0
right offset =  0

 -------------------------------


 =================================
 representatives
 =================================

ANL_utg84
---------------------
left telom length =  114
left offset =  0
right telom length =  0
right offset =  0

 -------------------------------


 =================================
 representatives
 =================================

BAQ_utg1618
---------------------
left telom length =  31
left offset =  34
right telom length =  0
right offset =  0

 -------------------------------


 =================================
 representatives
 =================================

APG_utg10
---------------------
left telom length =  0
left offset =  0
right telom length =  79
right offset =  0

 -------------------------------


 =================================
 representatives
 =================================

CEI_utg33
---------------------
left telom length =  0
left offset =  0
right telom length =  315
right offset =  0

 -------------------------------


 =================================
 representatives
 =================================

CDA_utg24
---------------------
left telom length =  29
left offset =  0
right telom length =  0
right offset =  0

 -------------------------------


 =================================
 representatives
 =================================

ANM_utg39
---------------------
left telom length =  0
left offset =  0
right telom length =  740
right offset =  0

 -------------------------------


 =================================
 representatives
 =================================

CPS_utg19
---------------------
left telom length =  537
left offset =  0
right telom length =  0
right offset =  0

 -------------------------------


 =================================
 representatives
 =================================

BDF_utg3
---------------------
left telom length =  0
left offset =  0
right telom length =  732
right offset =  0

 -------------------------------


 =================================
 representatives
 =================================

CDG_utg185
---------------------
left telom length =  246
left offset =  0
right telom length =  0
right offset =  0

 -------------------------------

../../misc/scere_souche12.fasta
../../misc/test_fasta_offset.fasta

 =================================
 test_fasta_offset
 =================================

offset0
---------------------
left telom length =  27
left offset =  0
right telom length =  0
right offset =  0

 -------------------------------


 =================================
 test_fasta_offset
 =================================

offset1
---------------------
left telom length =  28
left offset =  0
right telom length =  0
right offset =  0

 -------------------------------


 =================================
 test_fasta_offset
 =================================

offset2
---------------------
left telom length =  29
left offset =  0
right telom length =  0
right offset =  0

 -------------------------------


 =================================
 test_fasta_offset
 =================================

offset20
---------------------
left telom length =  33
left offset =  14
right telom length =  0
right offset =  0

 -------------------------------


 =================================
 test_fasta_offset
 =================================

offset20G
---------------------
left telom length =  30
left offset =  17
right telom length =  0
right offset =  0

 -------------------------------


 =================================
 test_fasta_offset
 =================================

utg84
---------------------
left telom length =  114
left offset =  0
right telom length =  0
right offset =  0

 -------------------------------

../../misc/test_N.fasta

 =================================
 test_N
 =================================

noN
---------------------
left telom length =  27
left offset =  0
right telom length =  0
right offset =  0

 -------------------------------


 =================================
 test_N
 =================================

49N
---------------------
left telom length =  19
left offset =  0
right telom length =  0
right offset =  0

 -------------------------------


 =================================
 test_N
 =================================

50N
---------------------
left telom length =  21
left offset =  0
right telom length =  0
right offset =  0

 -------------------------------


 =================================
 test_N
 =================================

50N+tel_R
---------------------
left telom length =  21
left offset =  0
right telom length =  0
right offset =  0

 -------------------------------


 =================================
 test_N
 =================================

50N+tel_L
---------------------
left telom length =  0
left offset =  0
right telom length =  138
right offset =  144

 -------------------------------


 =================================
 test_N
 =================================

utg1
---------------------
left telom length =  33
left offset =  14
right telom length =  0
right offset =  0

 -------------------------------


 =================================
 test_N
 =================================

2_times_50N
---------------------
left telom length =  21
left offset =  0
right telom length =  0
right offset =  0

 -------------------------------


 =================================
 test_N
 =================================

utg2
---------------------
left telom length =  30
left offset =  17
right telom length =  0
right offset =  0

 -------------------------------


 =================================
 test_N
 =================================

utg84
---------------------
left telom length =  114
left offset =  0
right telom length =  0
right offset =  0

 -------------------------------

../../misc/test_fasta_file_40.fasta

 =================================
 test_fasta_file_40
 =================================

test
---------------------
left telom length =  97
left offset =  0
right telom length =  0
right offset =  0

 -------------------------------

In [7]:
poly_df.head()

                             0     1     2     3     4     5     6     7     \
representatives AAB_utg31     1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0
                ANL_utg84     1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0
                BAQ_utg1618   0.0   0.0   1.0   1.0   0.0   0.0   0.0   0.0
                APG_utg10     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
                CEI_utg33     0.0   0.0   0.0   1.0   1.0   1.0   1.0   0.0

                             8     9     ...  2329  2330  2331  2332  2333  \
representatives AAB_utg31     1.0   1.0  ...   NaN   NaN   NaN   NaN   NaN
                ANL_utg84     1.0   1.0  ...   0.0   0.0   1.0   0.0   0.0
                BAQ_utg1618   0.0   0.0  ...   NaN   NaN   NaN   NaN   NaN
                APG_utg10     0.0   0.0  ...   NaN   NaN   NaN   NaN   NaN
                CEI_utg33     0.0   0.0  ...   NaN   NaN   NaN   NaN   NaN

                             2334  2335  2336  2337  2338
representatives AAB_utg31     NaN   NaN   NaN   NaN   NaN
                ANL_utg84     0.0   0.0   0.0   0.0   0.0
                BAQ_utg1618   NaN   NaN   NaN   NaN   NaN
                APG_utg10     NaN   NaN   NaN   NaN   NaN
                CEI_utg33     NaN   NaN   NaN   NaN   NaN

[5 rows x 2339 columns]

In [11]:
pat_df.head()

                              0     1     2     3     4     5     6     7     \
test_fasta_file_40 test        0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
test_N             noN         1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0
                   49N         1.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0
                   50N         1.0   1.0   1.0   1.0   0.0   0.0   0.0   0.0
                   50N+tel_R   1.0   1.0   1.0   1.0   0.0   0.0   0.0   0.0

                              8     9     ...  2311  2312  2313  2314  2315  \
test_fasta_file_40 test        0.0   0.0  ...   NaN   NaN   NaN   NaN   NaN
test_N             noN         1.0   1.0  ...   NaN   NaN   NaN   NaN   NaN
                   49N         0.0   0.0  ...   NaN   NaN   NaN   NaN   NaN
                   50N         0.0   0.0  ...   NaN   NaN   NaN   NaN   NaN
                   50N+tel_R   0.0   0.0  ...   NaN   NaN   NaN   NaN   NaN

                              2316  2317  2318  2319  2320
test_fasta_file_40 test        NaN   NaN   NaN   NaN   NaN
test_N             noN         NaN   NaN   NaN   NaN   NaN
                   49N         NaN   NaN   NaN   NaN   NaN
                   50N         NaN   NaN   NaN   NaN   NaN
                   50N+tel_R   NaN   NaN   NaN   NaN   NaN

[5 rows x 2321 columns]

# For control_not_telom_merging.py refactoring

L61

In [17]:
set("ATTTTAAAT") == {"A", "T"}

True

In [15]:
set(seq)

{'A', 'C', 'G', 'N', 'T'}

In [4]:
seq = "ACGATCGATCGTAGCTGATGCTAGTCNNNNNGCTAGCTAGCTAGTCGTCGATGTC"

In [13]:
starts_N = seq.find("NNNNN")

In [14]:
starts_N

26